*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rethink+Sans&display=swap');

html,body{
    height: 100%;
    font-family: 'Rethink Sans', sans-serif;
    user-select: none;
    /* overflow-x: hidden; */
}

.center{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 4%;
}

:root{
    --font_header:1.3vmax;
    --font_i:1.3vmax;
    --font_h1:3vmax;
    --font_h2:2.5vmax;
    --font_h3:2vmax
}

#inverter_cor{
    filter: invert();
}

div.clear{clear: both;}

/* HEADER */
    *{
        header{
            background-color: black;
        }

        header .center{
            background-color: black;
            padding: 12px 2%;
            position: relative;
            top: .5vmax;
        }
        
        /* header_left */
            div.header_left{float: left;}

            div.header_left img{
                position: relative;
                width: 7vmax;
            }
            
            div.menu_header{
                display: flex;
                position: relative;
            }

            div.menu_header li{
                display: inline-block;
                margin-left: 2vmax;
            }

            div.menu_header a{
                color: white;
                text-decoration: none;
                font-size: var(--font_header);
            }

        /* header_right */
            div.header_right{
                float: right;
                position: relative;
            }

            div.search{
                display: inline-block;
            }

            div.header_right i{
                margin: 0 1vmax;
                cursor: pointer;
                font-size: var(--font_i);
                font-weight: bold;
                color: white;
            }

            div.header_right a{
                position: relative;
                text-decoration: none;
                color: white;
                font-size: var(--font_header);
            }

            div.header_left ul:hover :not(:hover){opacity: .8;transform: scale(.9);}

            #notificacao{
                position: relative;
            }

            #notificacao p{
                width: 1vmax;
                height: 1vmax;
                position: absolute;
                top:-.5vmax;
                right:-8px;
                font-size:.8vmax;
                color: white;
                background-color: red;
                border-radius: 100%;
                text-align: center;
                line-height: 1vmax;
            }
    }

/* FILME DESTAQUE */
    *{
        #destaque{
            width: 100%;
            min-height:55vmax;
            position: relative;
            overflow: hidden;
        }

        #video_destaque {
            max-width: 100%;        
            min-width: 100%;        
            position: absolute;
        }

        div.overlay{
            width: 50%;
            min-height:55vmax;
            background: repeating-linear-gradient(to right, black, #fefefe00 100%);          
            position: absolute;
        }

        div.texto_destaque{
            position: absolute;
            bottom: 8%;
            text-align: center;
        }

        div.texto_destaque span{
            font-size: 10vmin;
            color: rgba(255, 255, 255, 0.854);
            font-weight: 100;
            text-transform: uppercase;
            word-spacing: 500px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            letter-spacing: 2vmax;
            text-shadow: 0px 0px 10px black;
            line-height: 8.4vmax;
        }

        div.texto_destaque h3{
            font-size: 2vmax;
            color: white;
            margin-top: 20px;
        }

        div.texto_destaque p{
            font-size: 1.5vmax;
            color: white;
            margin-top: 10px;
        }

        div.botoes_destaque button{
            padding:0px 1.5vmax;
            border: none;
            line-height:3vmax;
            background-color: rgba(8, 8, 8, 0.347);
            border-radius: 5px;
            margin: 20px;
            color:  white;
            font-size: 1.2vmax;
            font-weight: bold;
            cursor: pointer;
        }

        div.botoes_destaque i{padding-right:10px ;}

        div.botoes_destaque button:hover{
            background-color:white;
            color: black;
        }

        @media screen and (max-width:800px){

            #destaque{
                bottom: -1%;
            }

            div.overlay{
                position: absolute;
                top: 0;
            }
    
            #video_destaque {  
                position: relative;
            }

            div.texto_destaque{
                position: relative;
                bottom: 5px;
                background-color:red;
                padding: 20px 0;
            }

            #destaque > .center{padding: 0;}

            div.texto_destaque span{
                font-size: 7vmin;
                letter-spacing: 2vmax;
                line-height: 7vmax;
            }

            div.botoes_destaque button{
                padding:0px 1.8vmax;
                line-height:5vmax;
                margin:1vmax;
                font-size: 1.8vmax;
                margin-top: 20px;
            }
    
        }

    }

/* VITRINE */
    *{

        section.vitrine{
            width: 100%;
            height: 100%;
            position: relative;
        }

        div.vitrine_flex{
            display: flex;
            flex-wrap:nowrap;
            width: 100%;

        }
        
        div.destaque_vitrine{
            width: 11.1%;
            padding-top: 11.1%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        div.serie_filme0{background-image: url('assets/image/army-of-the-dead-lost-vegas-netflix.jpg');}
        div.serie_filme1{background-image: url('assets/image/Invisible.jpeg');}
        div.serie_filme2{background-image: url('assets/image/Peacemaker.jpeg');}
        div.serie_filme3{background-image: url('assets/image/Punisher.jpg');}
        div.serie_filme4{background-image: url('assets/image/The_boys.jpeg');}
        div.serie_filme5{background-image: url('assets/image/The_walking_dead.jpeg');}
        div.serie_filme6{background-image: url('assets/image/Jhon_wich.jpeg');}
        div.serie_filme7{background-image: url('assets/image/jurassik_park.jpeg');}
        div.serie_filme8{background-image: url('assets/image/Liga_da_justica.jpeg');}

        #exibicao.vitrine_flex div:nth-child(1) {
            transform: scale(1);
            margin-right: -10px;
            z-index: 1;
        }

        #exibicao.vitrine_flex div:nth-child(2) {
            transform: scale(1.1);
            z-index: 9;
        }

        #exibicao.vitrine_flex div:nth-child(3) {
            transform: scale(1.2);
            z-index: 99;
        }

        #exibicao.vitrine_flex div:nth-child(4) {
            transform: scale(1.3);
            z-index: 999;
        }

        #exibicao.vitrine_flex div:nth-child(5) {
            transform: scale(1.5);
            margin: 0 1vmax;
            z-index: 9999;
        }

        #exibicao.vitrine_flex div:nth-child(6) {
            transform: scale(1.3);
            z-index: 999;
            margin: 0 .5vmax;
        }

        #exibicao.vitrine_flex div:nth-child(7) {
            z-index: 99;
            transform: scale(1.2);
        }

        #exibicao.vitrine_flex div:nth-child(8) {
            z-index: 9;
            transform: scale(1.1);
        }

        #exibicao.vitrine_flex div:nth-child(9) {
            z-index: 1;
            transform: scale(1);
            margin-left: -10px;
        }

        @media screen and (max-width:800px){
            section.vitrine{top:-5px;}

            div.vitrine_flex{
                display: flex;
                flex-wrap:wrap;
                justify-content: space-between;
            }

            section.vitrine{
                width: 100%;
                height: 100%;
                position: relative;
                top: 0%;

            }

            div.destaque_vitrine{
                width: 33.3%;
                padding-top: 33.3%;
                margin: 0;
            }

            #exibicao.vitrine_flex div:nth-child(1) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(2) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(3) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(4) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(5) {transform: scale(1);margin: 0;}
    
            #exibicao.vitrine_flex div:nth-child(6) {transform: scale(1);margin: 0;}
    
            #exibicao.vitrine_flex div:nth-child(7) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(8) {transform: scale(1);}
    
            #exibicao.vitrine_flex div:nth-child(9) {transform: scale(1);}

        }
    }